  .bgimg {
    /* Background image */
    background-image: url('./assets/images/innovateTemp_3 - small - resized.png');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;

    @mixin atMedium {
      background-image: url('./assets/images/innovateTemp_3 - medium.png');
    }

    @mixin atLarge {
      background-image: url('./assets/images/innovateTemp_3 - large.png');
    }
  }

  .middle-innovator {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(99, 100, 102, 0.685);
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.767);

    &__title { 
      font-family: myFirstFont;
      font-size: 2rem;

      @mixin atMedium {
        font-size: 2.5rem;
      }
      @mixin atLarge {
        font-size: 2.8rem;
      }

      @mixin landscape{
        font-size: 1.5rem;
      }

      @mixin landscapeSmall{
        font-size: 1.2rem;
      }

    }

    &__subtitle {
      font-family: mySecondFont;
      font-size: 1rem;
      margin: 2rem;

      @mixin atMedium {
        font-size: 1.5rem;
      }
      @mixin atLarge {
        font-size: 1.8rem;
      }

      @mixin landscape {
        font-size: 1rem;
      }

      @mixin landscapeSmall {
        font-size: .7rem;
      }
    }

    &__logo {
      img {
        height: 6rem;
        margin-top: 2rem;

        @mixin atMedium {
          height: 7.5rem;
        }

        @mixin atLarge {
          height: 9rem;
        }

       @mixin landscape{
          height: 5rem;
        }

        @mixin landscapeSmall {
          height: 4rem;
        }
      }
    }

    @mixin atLarge {
      width: auto;
    }
  }

  .bottom-innovator {
    position: absolute;
    color: white;
    font-family: mySecondFont;
    background-color: $mainOrange_faded;
    width: 100%;
    left: 0%;
    bottom: 0%;
    text-align: center;
    font-size: .8rem;

   @mixin atMedium {
      font-size: 1rem;
    }

    
  }
